HTBDailyKostenTest/Service References/WsInkasso/WsInkasso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/v2/intranetx/WS/WsInkasso.asmx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/v2/intranetx/WS/WsInkasso.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/v2/intranetx/WS/WsInkasso.asmx">
      <s:element name="CreateNewAkt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewAktResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewAktResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAktStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aktId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAktStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAktStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewAktSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewAkt" />
  </wsdl:message>
  <wsdl:message name="CreateNewAktSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewAktResponse" />
  </wsdl:message>
  <wsdl:message name="GetAktStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetAktStatus" />
  </wsdl:message>
  <wsdl:message name="GetAktStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetAktStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="WsNewInkassoSoap">
    <wsdl:operation name="CreateNewAkt">
      <wsdl:input message="tns:CreateNewAktSoapIn" />
      <wsdl:output message="tns:CreateNewAktSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAktStatus">
      <wsdl:input message="tns:GetAktStatusSoapIn" />
      <wsdl:output message="tns:GetAktStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsNewInkassoSoap" type="tns:WsNewInkassoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewAkt">
      <soap:operation soapAction="http://localhost/v2/intranetx/WS/WsInkasso.asmx/CreateNewAkt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAktStatus">
      <soap:operation soapAction="http://localhost/v2/intranetx/WS/WsInkasso.asmx/GetAktStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsNewInkassoSoap12" type="tns:WsNewInkassoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewAkt">
      <soap12:operation soapAction="http://localhost/v2/intranetx/WS/WsInkasso.asmx/CreateNewAkt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAktStatus">
      <soap12:operation soapAction="http://localhost/v2/intranetx/WS/WsInkasso.asmx/GetAktStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsNewInkasso">
    <wsdl:port name="WsNewInkassoSoap" binding="tns:WsNewInkassoSoap">
      <soap:address location="http://localhost/v2/intranetx/WS/WsInkasso.asmx" />
    </wsdl:port>
    <wsdl:port name="WsNewInkassoSoap12" binding="tns:WsNewInkassoSoap12">
      <soap12:address location="http://localhost/v2/intranetx/WS/WsInkasso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>